.posts{
    max-width: 700px,900px;
    margin-inline-end: auto;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    justify-items: center;
    /* padding: 12rem; */
    padding: 7rem;
    gap: 2px;
}
.header{
    display: flex;
   justify-content: center;
}
.slogen{
    margin-right: 150px;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
